*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.requirements{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    
}
.submit{
     width: 100%;
     padding: 10px;
     border-radius: 10px;
     color:white;
     font-size: 25px;
     background-color: rgb(0, 0, 0);
     border: none;
     margin-top: 10px;
}
form{
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    background-color: rgba(232, 129, 3, 0.882);
    padding: 50px;
    margin-top:120px ;
    border-radius: 10px;
}
h1{
    text-align: center;
}
label{
    font-size: 25px;
}
body{
    background-image:
     url(../IMAGES/background-image.webp);
}